export WINDOWS_KITS=$HOME/cross/windows-kits

rustflags=(
    -C link-arg=/LIBPATH:$WINDOWS_KITS/xwin/crt/lib/x86_64
    -C link-arg=/LIBPATH:$WINDOWS_KITS/xwin/sdk/lib/ucrt/x86_64
    -C link-arg=/LIBPATH:$WINDOWS_KITS/xwin/sdk/lib/um/x86_64
)

export RUSTFLAGS="${RUSTFLAGS:-} ${rustflags[*]}"
