export WINDOWS_KITS=$HOME/cross/windows-kits

ARCH=x86_64

rustflags=(
    -Lnative=$WINDOWS_KITS/xwin/crt/lib/$ARCH
    -Lnative=$WINDOWS_KITS/xwin/sdk/lib/ucrt/$ARCH
    -Lnative=$WINDOWS_KITS/xwin/sdk/lib/um/$ARCH
)

export RUSTFLAGS="${RUSTFLAGS:-} ${rustflags[*]}"
